<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>591240848287-nrkv5d1kholhcot573bj1c196208dmua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591240848287-nrkv5d1kholhcot573bj1c196208dmua</string>
	<key>API_KEY</key>
	<string>AIzaSyCk0eaoiR2rZL80yJ0YV_eLP-rqqxRRn9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>591240848287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rrtenz.ScriptureRecorder.ScriptureRecorder</string>
	<key>PROJECT_ID</key>
	<string>scripture-recorder</string>
	<key>STORAGE_BUCKET</key>
	<string>scripture-recorder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:591240848287:ios:e4cb45c66a2049ae</string>
	<key>DATABASE_URL</key>
	<string>https://scripture-recorder.firebaseio.com</string>
</dict>
</plist>